<%- include("templates/headerTemplate")%>
<div class="max-w-[450px] w-100 min-h-svh mx-auto px-[25px] py-[50px] bg-gray-900 flex flex-col pb-[90px] items-center justify-center space-y-5 text-sky-100 text-md font-medium">
    <!-- Page title -->
    <h1 class="text-sky-300 text-3xl font-bold mb-5">Our Team</h1>

    <!-- Lising our team -->
    <div class="w-full flex flex-col space-y-5">
        <!-- Dan's card -->
        <div class="w-full bg-gray-700 shadow-lg py-5 px-6 space-y-4 rounded-2xl">
            <div class="py-2 flex items-center space-x-4">
                <div class="w-[75px] h-[75px] bg-sky-300 rounded-full border-2 border-sky-100 overflow-hidden">
                    <img src="/aboutUs/danton.png" alt="Danton profile img" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col space-y-1">
                    <h1 class="text-2xl text-sky-300">Danton Soares</h1>
                    <p>Full-stack Developer</p>
                </div>
            </div>
            <div class="pt-4 flex items-center justify-center border-t-2 border-sky-200">
                <a href="https://github.com/Danton1" target="_blank" class="hover:text-sky-400 duration-200">GitHub</a>
                &ensp;|&ensp;
                <a href="https://www.linkedin.com/in/danton-soares/" target="_blank" class="hover:text-sky-400 duration-200">LinkedIn</a>
                &ensp;|&ensp;
                <a href="https://dantonsoares.com" target="_blank" class="hover:text-sky-400 duration-200">Portfolio</a>
            </div>
        </div>

        <!-- Tyson's card -->
        <div class="w-full bg-gray-700 shadow-lg py-5 px-6 space-y-4 rounded-2xl">
            <div class="py-2 flex items-center space-x-4">
                <div class="w-[75px] h-[75px] bg-sky-300 rounded-full border-2 border-sky-100 overflow-hidden">
                    <img src="/aboutUs/tyson.jpg" alt="" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col space-y-1">
                    <h1 class="text-2xl text-sky-300">Tyson Chan</h1>
                    <p>Back-end Developer</p>
                </div>
            </div>
            <div class="pt-4 flex items-center justify-center border-t-2 border-sky-200">
                <a href="https://github.com/tysonchan1" target="_blank" class="hover:text-sky-400 duration-200">GitHub</a>
            </div>
        </div>

        <!-- Simon's card -->
        <div class="w-full bg-gray-700 shadow-lg py-5 px-6 space-y-4 rounded-2xl">
            <div class="py-2 flex items-center space-x-4">
                <div class="w-[75px] h-[75px] bg-sky-300 rounded-full border-2 border-sky-100 overflow-hidden">
                    <img src="#" alt="" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col space-y-1">
                    <h1 class="text-2xl text-sky-300">Simon Lotzkar</h1>
                    <p>Role</p>
                </div>
            </div>
            <div class="pt-4 flex items-center justify-center border-t-2 border-sky-200">
                <a href="https://github.com/SimonLotzkar" target="_blank" class="hover:text-sky-400 duration-200">GitHub</a>
                &ensp;|&ensp;
                <a href="https://www.linkedin.com/in/simonlotzkar/" target="_blank" class="hover:text-sky-400 duration-200">LinkedIn</a>
            </div>
        </div>

        <!-- Soomin's card -->
        <div class="w-full bg-gray-700 shadow-lg py-5 px-6 space-y-4 rounded-2xl">
            <div class="py-2 flex items-center space-x-4">
                <div class="w-[75px] h-[75px] bg-sky-300 rounded-full border-2 border-sky-100 overflow-hidden">
                    <img src="/aboutUs/soomin.png" alt="Soomin profile img" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col space-y-1">
                    <h1 class="text-2xl text-sky-300">Soomin Jeong</h1>
                    <p>Full-stack Developer</p>
                </div>
            </div>
            <div class="pt-4 flex items-center justify-center border-t-2 border-sky-200">
                <a href="https://github.com/SoominJ06" target="_blank" class="hover:text-sky-400 duration-200">GitHub</a>
                    &ensp;|&ensp;
                <a href="https://www.linkedin.com/in/jeong-soomin/" target="_blank" class="hover:text-sky-400 duration-200">LinkedIn</a>
            </div>
        </div>

        <!-- Steven's card -->
        <div class="w-full bg-gray-700 shadow-lg py-5 px-6 space-y-4 rounded-2xl">
            <div class="py-2 flex items-center space-x-4">
                <div class="w-[75px] h-[75px] bg-sky-300 rounded-full border-2 border-sky-100 overflow-hidden">
                    <img src="/aboutUs/steven.jpeg" alt="Steven's picture" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col space-y-1">
                    <h1 class="text-2xl text-sky-300">Steven Xie</h1>
                    <p>Back-End Developer</p>
                </div>
            </div>
            <div class="pt-4 flex items-center justify-center border-t-2 border-sky-200">
                <a href="https://github.com/sxht" target="_blank" class="hover:text-sky-400 duration-200">GitHub</a>
                &ensp;|&ensp;
                <a href="https://www.instagram.com/sappysteve/" target="_blank" class="hover:text-sky-400 duration-200">Instagram</a>
                &ensp;|&ensp;
                <a href="https://letterboxd.com/spookysteve/" target="_blank" class="hover:text-sky-400 duration-200">Letterboxd</a>
            </div>
        </div>

        <!-- Jas's card -->
        <div class="w-full bg-gray-700 shadow-lg py-5 px-6 space-y-4 rounded-2xl">
            <div class="py-2 flex items-center space-x-4">
                <div class="w-[75px] h-[75px] bg-sky-300 rounded-full border-2 border-sky-100 overflow-hidden">
                    <img src="#" alt="" class="w-full h-full object-cover">
                </div>
                <div class="flex flex-col space-y-1">
                    <h1 class="text-2xl text-sky-300">Jaskirat Jhatu</h1>
                    <p>Role</p>
                </div>
            </div>
            <div class="pt-4 flex items-center justify-center border-t-2 border-sky-200">
                <a href="https://github.com/jjhatu" target="_blank" class="hover:text-sky-400 duration-200">GitHub</a>
            </div>
        </div>
    </div>
</div>
<%- include("templates/footerTemplate")%>