<%- include("templates/headerTemplate") %> 
<div class="max-w-[450px] w-full min-h-svh mx-auto px-[35px] flex flex-col justify-center items-center bg-gray-900">
    <h1 class="text-center text-4xl text-sky-400 font-bold mb-6">Change Password</h1>
    <form action="/forgot/submitForgot" method="post" class="w-full flex flex-col space-y-5">
        <div class="flex justify-between items-center w-full bg-gray-700 px-5 py-4 rounded-2xl">
            <input name="forgotEmail" type="email" placeholder="Enter your email address" required
                class="w-full h-full bg-gray-700 placeholder-sky-100 text-sky-100 font-medium text-lg focus:outline-none">
        </div>
        <button type="submit" class="w-full bg-sky-400 py-4 rounded-2xl text-xl text-gray-900 font-extrabold hover:bg-sky-300 hover:text-gray-800 duration-200">
            Submit
        </button>
        <div class="text-center text-sky-100">
            <a onclick="history.back()" class="hover:text-sky-400 duration-150">
                Go back to the previous page <i class="ml-2 fa-solid fa-angle-right"></i>
            </a>
        </div>
    </form>
</div>