<%- include("templates/headerTemplate")%>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script src="/chat.js" id="chatJS" profile="<%= user.profile_pic %>"></script>
<div id="bigwrap" class="max-w-[450px] w-full min-h-svh mx-auto py-10 px-[35px] pb-[70px] bg-gray-900 flex flex-col items-center justify-between space-y-5 text-sky-100 text-md font-medium">
    <!-- Page title -->
    <h1 class="text-sky-300 text-3xl font-bold mb-2">Chatbot</h1>
    <form class="hidden" method="post" id="bookAppointment" action="/submitEmail">
        <input id="emailTime" name="emailTime"></input>
        <input id="emailDate" name="emailDate"></input>
        <input id="emailIssue" name="emailIssue"></input>
    </form>

    <div class="w-full h-[calc(100svh-175px)] flex flex-col justify-end space-y-4 pb-3 from-gray-900 to-[rbga(0, 0, 0, 0)] overflow-hidden">

        <!-- Chat history -->
        <div id="chatHistoryWrap" class="w-full flex flex-col border-b-2 border-gray-700 pb-4 space-y-6 overflow-y-scroll" style="scrollbar-width: none;">
        </div>

        <!-- Text box -->
        <form class="chatbotTextBoxWrap px-5 py-4 rounded-xl bg-gray-700 flex" id="chatForm">
            <input type="text" id="chatbotTextBox" contenteditable rows="1" style="scrollbar-width: none;"
            class="w-full min-h-[25px] max-h-[100px] bg-gray-700 resize-none overflow-y-scroll text-sky-100 empty:before:content-['Ask_Kate...'] focus:outline-none">
            </input>
            <button id="chatButton" class="" type="submit"><i class="fa-regular fa-paper-plane"></i></button>
        </form>
    </div>
</div>

<script>
    const displayPrompt = () => {
        // Getting time
        let date = new Date;
        let time = date.getHours() + ":" + (date.getMinutes() < 10 ? '0' : '') + date.getMinutes();

        // Display prompt with current time
        $('#chatHistoryWrap').append(`
            <div class="chat chat-start">
                <div class="flex flex-col justify-center items-center">
                    <div class="chat-header mb-2">
                        Dr. Kate
                    </div>
                    <div class="chat-image avatar">
                        <div class="w-[50px] rounded-full">
                            <img alt="chatbot profile pic" src="Kate.png" />
                        </div>
                    </div>
                </div>
                <div class="w-full flex items-end gap-2">
                    <div class="chat-bubble py-4 px-5 bg-gray-700 text-sky-100">
                        Welcome to MediKate! How can I help you?
                    </div>
                    <time class="text-xs opacity-50">${time}</time>
                </div>
            </div>
        `);
    }
    $(document).ready(displayPrompt);
</script>
<%- include("templates/footerTemplate")%>