<%- include("templates/headerTemplate")%>
<div class="max-w-[450px] w-full min-h-svh mx-auto px-[35px] bg-gray-900 flex flex-col py-[55px] pb-[90px] items-center justify-center space-y-5 text-sky-100 text-md font-medium">
    <!-- Page title -->
    <h1 class="text-sky-300 text-3xl font-bold mb-2">Contact Information</h1>

    <!-- My contact info -->
    <div class="w-full bg-gray-700 shadow-lg py-5 px-5 flex flex-col space-y-3 rounded-2xl">
        <h1>My Contact Information</h1>
        <div class="w-full bg-gray-800 py-3 px-4 rounded-xl"><%= user.email %></div>
        <div class="w-full bg-gray-800 py-3 px-4 rounded-xl">Secondary email</div>
        <div class="w-full bg-gray-800 py-3 px-4 rounded-xl">Phone number</div>
    </div>    

    <!-- Emergency contact info -->
    <div class="w-full bg-gray-700 shadow-lg py-5 px-5 flex flex-col space-y-3 rounded-2xl">
        <h1>Emergency Contact</h1>
        <div class="w-full bg-gray-800 py-3 px-4 rounded-xl">Email</div>
        <div class="w-full bg-gray-800 py-3 px-4 rounded-xl">Phone number</div>
    </div>    

    <!-- Edit & save button -->
    <div class="w-full flex flex-col items-center space-y-4 text-gray-900 text-lg font-extrabold">
        <button class="w-full bg-sky-400 py-3 rounded-2xl hover:bg-sky-300 duration-200">
            EDIT
            <i class="fa-solid fa-pen"></i>
        </button>
        <button class="w-full bg-sky-400 py-3 rounded-2xl hover:bg-sky-300 duration-200">SAVE</button>
    </div>
</div>
<%- include("templates/footerTemplate")%>
