<%- include("templates/headerTemplate") %> 
<div class="max-w-[450px] min-h-svh bg-gray-900 mx-auto px-[35px] flex justify-center items-center">
    <div class="w-full h-full ">
        <h3 class="text-center text-4xl text-sky-200 font-bold mb-6">
            Email successfully sent!
        </h3>
        <!-- <button class="w-full bg-sky-400 py-4 rounded-2xl text-xl text-gray-900 font-extrabold hover:bg-sky-300 hover:text-gray-800 duration-200" onclick="history.back()">
            GO BACK
        </button> -->
    </div>
</div>

<script>
        window.onload = function(){
            console.log("hi");

            setInterval(function(){
            window.location.href = "/";
        }, 2000);
        }
</script>
<%- include("templates/footerTemplate") %> 
