<%- include("templates/headerTemplate")%>
<div class="w-[450px] min-h-svh mx-auto px-[50px] bg-gray-900 flex flex-col py-10 pb-[100px] items-center justify-center space-y-5 text-sky-100 text-md font-semibold">
    <!-- Page title -->
    <h1 class="text-sky-300 text-3xl font-bold mb-5">Personal Information</h1>

    <!-- List of personal information -->
    <div class="w-full flex flex-col items-center space-y-4 text-md">
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl">
            First Name
        </div>
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl">
            Last Name
        </div>
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl">
            Birth Date
        </div>
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl">
            Country
        </div>
        <div class="w-full bg-gray-700 py-4 px-5 rounded-2xl">
            City
        </div>
    </div>

    <!-- Edit & save button -->
    <div class="w-full flex flex-col items-center space-y-4 text-gray-900 font-extrabold">
        <button class="w-full bg-sky-300 py-4 rounded-2xl">EDIT</button>
        <button class="w-full bg-sky-300 py-4 rounded-2xl">SAVE</button>
    </div>
</div>
<%- include("templates/footerTemplate")%>