<%- include("templates/header")%>
<form id="editPass" medthod="post" action="/editPass"></form>
<div>
    <h1><%=name%></h1>
    <div id="accountInfo">
        <h3>Account information</h3>
        <p>Email</p>
        <button type="submit" form="editPass">Edit Password</button>
        </form>
    </div>
    <div id="personalInfo">
        <h3>Personal Information</h3>
    </div>
    <div id="contactInfo">
        <h3>Contact Information</h3>
    </div>
    <div id="medicalHist">
        <h3>Medical History</h3>
    </div>
</div>
<%- include("templates/footer")%>