<%- include("templates/headerTemplate")%>
<div class="w-[450px] h-svh mx-auto px-[50px] bg-gray-900 flex flex-col py-10 items-center space-y-5 text-sky-100 text-md font-semibold">
    <!-- User profile img and name -->
    <div class="flex flex-col items-center">
        <div class="w-[120px] h-[120px] flex justify-center items-center rounded-full bg-sky-300">
            <img src="#" alt="Profile img" class="w-full h-full object-cover text-black">
        </div>
        <h1 class="text-2xl text-sky-300">Username</h1>
    </div>

    <!-- Account info -->
    <div class="w-full bg-gray-700 shadow-lg py-5 px-5 flex flex-col space-y-3 rounded-2xl">
        <h1>Account Information</h1>
        <h1 class="w-full bg-gray-800 py-3 px-4 rounded-xl">User email</h1>
        <h1 class="w-full bg-gray-800 py-3 px-4 rounded-xl flex justify-between items-center">Edit Password <i class="fa-solid fa-pen"></i></h1>
    </div>

    <!-- Btn to go to personal info -->
    <div class="w-full bg-gray-700 shadow-lg rounded-2xl cursor-pointer">
        <a href="/profile/getPersonalInfo" class="w-full h-full py-4 px-5 flex justify-between items-center">
            Personal Information  <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>

    <!-- Btn to go to contact info -->
    <div class="w-full bg-gray-700 shadow-lg rounded-2xl cursor-pointer">
        <a href="/profile/getContactInfo" class="w-full h-full py-4 px-5 flex justify-between items-center">
            Contact Information <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>

    <!-- Btn to go to medical history -->
    <div class="w-full bg-gray-700 shadow-lg rounded-2xl cursor-pointer">
        <a href="/profile/getMedHistory" class="w-full h-full py-4 px-5 flex justify-between items-center">
            Medical History <i class="fa-solid fa-arrow-right"></i>
        </a>
    </div>
</div>
<%- include("templates/footerTemplate")%>