<%- include("templates/headerTemplate") %>
<div class="min-h-svh mx-auto px-[50px] pb-[70px] pt-10 bg-gray-900 text-md font-semibold flex flex-col justify-center items-center">
    <h1 class="text-3xl font-bold text-center text-sky-400 mb-4">Sign Up</h1>


    <form action="/signUp/submitSignUp" method="post" class="w-full justify-items-center">
        <div class="signupWrap w-full grid-rows-[repeat(4, auto)] space-y-4 justify-items-center">


            <div id="nameGroup" class="grid gap-2">
                <h2 class="text-lg text-sky-400">Name</h2>
                <div class="w-full py-3 px-5 bg-gray-700 rounded-xl">
                    <input name="firstName" type="text" placeholder="First Name" required
                    class="w-full bg-gray-700 text-sky-100 placeholder-sky-100 focus:outline-none">
                </div>
                <div class="w-full py-3 px-5 bg-gray-700 rounded-xl">
                    <input name="lastName" type="text" placeholder="Last Name" required
                    class="w-full bg-gray-700 text-sky-100 placeholder-sky-100 focus:outline-none">
                </div>
            </div>

            <div id="personalInfoGroup" class="grid gap-2 ">
                <h2 class="text-lg text-sky-400">Personal Information</h2>
                <div class="w-full py-3 px-5 bg-gray-700 rounded-xl">
                    <input name="birthDate" type="text" placeholder="Birth Date" required
                    class="w-full bg-gray-700 text-sky-100 placeholder-sky-100 focus:outline-none"
                        onfocus="(this.type='date')">
                </div>
                <div class="w-full py-3 px-5 bg-gray-700 rounded-xl">
                    <input name="country" type="text" placeholder="Country" required
                    class="w-full bg-gray-700 text-sky-100 placeholder-sky-100 focus:outline-none">
                </div>
                <div class="w-full py-3 px-5 bg-gray-700 rounded-xl">
                    <input name="city" type="text" placeholder="City" required
                    class="w-full bg-gray-700 text-sky-100 placeholder-sky-100 focus:outline-none">
                </div>
            </div>

            <div id="accInfoGroup" class="grid gap-2">
                <h2 class="text-lg text-sky-400">Account Information</h2>
                <div class="w-full py-3 px-5 bg-gray-700 rounded-xl">
                    <input name="email" type="email" placeholder="Email" required
                    class="w-full bg-gray-700 rounded text-sky-100 placeholder-sky-100 focus:outline-none">
                </div>
                <div class="w-full py-3 px-5 bg-gray-700 rounded-xl flex justify-between">
                    <input id="signupPagePasswordInput" name="password" type="password" placeholder="Password" required
                    class="w-full bg-gray-700 rounded text-sky-100 placeholder-sky-100 focus:outline-none">
                    <button id="togglePasswordVisibility" type="button" class="flex items-center text-gray-700 focus:outline-none">
                        <svg class="h-5 w-5 text-sky-100" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path id="eyePath1" stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                            <path id="eyePath2" d="" />
                        </svg>               
                    </button>
                </div>
                <div class="w-full py-3 px-5 bg-gray-700 rounded-xl flex justify-between">
                    <input id="signupPageConfirmPasswordInput" name="passwordConfirm" type="password" placeholder="Confirm Password" required
                    class="w-full bg-gray-700 rounded text-sky-100 placeholder-sky-100 focus:outline-none">
                    <button id="toggleConfirmPasswordVisibility" type="button" class="flex items-center text-gray-700 focus:outline-none">
                        <svg class="h-5 w-5 text-sky-100" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path id="eyePath3" stroke-linecap="round" stroke-linejoin="round" d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88" />
                            <path id="eyePath4" d="" />
                        </svg>               
                    </button>
                </div>
            </div>
            
            <div class="grid justify-items-center pt-3 space-y-3">
                <button type="submit" class="w-full bg-sky-400 py-4 rounded-2xl text-lg text-gray-900 font-extrabold hover:bg-sky-300 hover:text-gray-800 duration-200">
                    SIGN UP
                </button>
                <div class="text-center text-sky-100 text-md font-normal">
                    Don't have an account? 
                    <a href="/login" class="text underline hover:text-sky-400 duration-150">Log in</a>
                </div>
            </div>
        </div>
    </form>
</div>

<script>
    document.getElementById('togglePasswordVisibility').addEventListener('click', function() {
        var passwordField = document.getElementById('signupPagePasswordInput');
        var eyePath1 = document.getElementById('eyePath1');
        var eyePath2 = document.getElementById('eyePath2');

        if (passwordField.getAttribute('type') == 'password') {
            passwordField.setAttribute('type', 'text');
            eyePath1.setAttribute('d', 'M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z');
            eyePath2.setAttribute('d', 'M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z');
        } else {
            passwordField.setAttribute('type', 'password');
            eyePath1.setAttribute('d', 'M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88');
            eyePath2.setAttribute('d', '');
        }
    });

    document.getElementById('toggleConfirmPasswordVisibility').addEventListener('click', function() {
        var passwordField = document.getElementById('signupPageConfirmPasswordInput');
        var eyePath3 = document.getElementById('eyePath3');
        var eyePath4 = document.getElementById('eyePath4');

        if (passwordField.getAttribute('type') == 'password') {
            passwordField.setAttribute('type', 'text');
            eyePath3.setAttribute('d', 'M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963 7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z');
            eyePath4.setAttribute('d', 'M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z');
        } else {
            passwordField.setAttribute('type', 'password');
            eyePath3.setAttribute('d', 'M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138 2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0 1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3 0 1 0-4.243-4.243m4.242 4.242L9.88 9.88');
            eyePath4.setAttribute('d', '');
        }
    });
</script>
</body>
</html>