<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MediKate</title>

    <!-- Favicon -->
    <link href="/favicon.png" rel="icon" type="image/x-icon">
    <!-- Font -->
    <link rel="stylesheet" href="https://use.typekit.net/mfj1bem.css">
    <!-- Custom Stylesheets -->
    <link href="/style.css" rel="stylesheet">
    <link href="/tailwind.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">
    
    <!-- CDN for FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- CDN for Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- CDN for Daisy UI (Tailwind plugin) -->
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.11.1/dist/full.min.css" rel="stylesheet" type="text/css" />
    <!-- Import JQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
</head>
<body class="bg-gray-900">